<div class="footer">
    <div class="container">
        <div class="footer-logo col-lg-3">
            <img src="{{ asset('bundles/duedinoiweb/images/duedinoi-logo-white.png') }}"/>
            <p>{{ "now"|date('Y') }} &copy; Duedinoi.</p>
        </div>
    </div>
</div>