<div class="single-comment col-lg-12 no-padding">
    <div class="col-lg-1">
        <img src="{{ get_user_image(message.sender)|apply_filter('comment_picture') }}" class="comment-picture"/>
    </div>
    <div class="col-lg-11">
        <div class="col-lg-12 mt-20 mb-30 comment-text">
            {{ message.body|nl2br }}
        </div>
    </div>
</div>