<div id="menu-widget" class="proton-widget latest-users lit">
                    <div class="panel panel-default back">
                        <div class="panel-heading">
                            <i class="icon-cog"></i>
                            <span>Settings</span>
                            <div class="toggle-widget-setup">
                                <i class="icon-ok"></i>
                                <span>DONE</span>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label>Filter by Location</label>
                                    <div>
                                        <div id="s2id_autogen9" class="select2-container select2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Any</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen10" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><select tabindex="-1" class="select2 select2-offscreen">
                                            <option selected="selected" value="Any">Any</option>
                                            <option value="Europe">Europe</option>
                                            <option value="Asia">Asia</option>
                                            <option value="North America">North America</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-info front">
                        <div class="panel-heading">
                            <i class="icon-flag"></i>
                            <span>Latest Users</span>
                            <i class="icon-cog toggle-widget-setup"></i>
                        </div>
                        <div>
                            <ul class="list-group pending"><li class="list-group-item new-item generated-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user3.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder"><span class="title-text">Belshazzar McGee</span></div>
                                    <span class="stat-value">a minut ago</span></li>
                                <li class="list-group-item generated-item animated flash">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user7.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder"><span class="title-text">Artemisios Moore</span></div>
                                    <span class="stat-value">a minut ago</span></li>
                                <li class="list-group-item generated-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user1.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder"><span class="title-text">Graeme Grant</span></div>
                                    <span class="stat-value">2 mins ago</span>
                                </li><li class="list-group-item generated-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user10.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder"><span class="title-text">Fernando Van</span></div><span class="stat-value">3 mins ago</span></li>
                                <li class="list-group-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user3.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder">
                                        <span class="title-text">
                                            Etiam Libero
                                        </span>
                                    </div>
                                    <span class="stat-value">
                                        a minut ago
                                    </span>
                                </li>
                                <li class="list-group-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user2.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder">
                                        <span class="title-text">
                                            Flor Demoa
                                        </span>
                                    </div>
                                    <span class="stat-value">
                                        12 hours ago
                                    </span>
                                </li>
                                <li class="list-group-item">
{#                                    <i><img src="Proton%20UI%20-%20Dashboard_files/user5.jpg" alt="User Icon"></i>#}
                                    <div class="text-holder">
                                        <span class="title-text">
                                            Prasent Neque
                                        </span>
                                    </div>
                                    <span class="stat-value">
                                        2 days ago
                                    </span>
                                </li>
                                
                                
                                
                            </ul>
                        </div>
                    </div>
</div>