<div id="setting-widget" class="proton-widget general-stats lit">
    <div class="panel panel-default back">
        <div class="panel-heading">
            <i class="icon-cog"></i>
            <span>Settings</span>
            <div class="toggle-widget-setup">
                <i class="icon-ok"></i>
                <span>DONE</span>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group">
                    <label>Filter by Location</label>
                    <div>
                        <div id="s2id_autogen5" class="select2-container select2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Europe</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen6" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><select tabindex="-1" class="select2 select2-offscreen">
                            <option value="Any">Any</option>
                            <option selected="selected" value="Europe">Europe</option>
                            <option value="Asia">Asia</option>
                            <option value="North America">North America</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-group">
                    <label>Filter by Time</label>
                    <div>
                        <div id="s2id_autogen7" class="select2-container select2"><a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">This Year</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input id="s2id_autogen8" class="select2-focusser select2-offscreen" type="text"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" type="text">   </div>   <ul class="select2-results">   </ul></div></div><select tabindex="-1" class="select2 select2-offscreen">
                            <option>Any</option>
                            <option>Last Hour</option>
                            <option>Today</option>
                            <option>This Week</option>
                            <option>This Month</option>
                            <option selected="selected">This Year</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel panel-primary front">
        <div class="panel-heading">
            <i class="icon-sort"></i>
            <span>General Stats</span>
            <i class="icon-cog toggle-widget-setup"></i>
        </div>
        <ul class="list-group">
            <li class="list-group-item animated flash">
                <div class="text-holder">
                    <span class="title-text">2,515</span>
                    <span class="description-text">
                        Registered Users
                    </span>
                </div>
                <span class="stat-value">
                    + 0.6%
                    <i class="icon-sort-up"></i>
                </span>
            </li>
            <li class="list-group-item">
                <div class="text-holder">
                    <span class="title-text">
                        $1,132
                    </span>
                    <span class="description-text">
                        Revenue
                    </span>
                </div>
                <span class="stat-value">
                    + 2.1%
                    <i class="icon-sort-up"></i>
                </span>
            </li>
            <li class="list-group-item">
                <div class="text-holder">
                    <span class="title-text">
                        53
                    </span>
                    <span class="description-text">
                        Viking Users
                    </span>
                </div>
                <span class="stat-value">
                    0%
                    <i class="icon-sort"></i>
                </span>
            </li>
            <li class="list-group-item">
                <div class="text-holder">
                    <span class="title-text">
                        24
                    </span>
                    <span class="description-text">
                        Donuts consumed
                    </span>
                </div>
                <span class="stat-value">
                    - 6.5%
                    <i class="icon-sort-down"></i>
                </span>
            </li>
            <li class="list-group-item">
                <div class="text-holder">
                    <span class="title-text">
                        312
                    </span>
                    <span class="description-text">
                        Orders Received
                    </span>
                </div>
                <span class="stat-value">
                    + 12.1%
                    <i class="icon-sort-up"></i>
                </span>
            </li>
        </ul>
    </div>
</div>