{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    <div class="container-fluid no-padding">
        <div class="page-heading">
            <h1>{{ 'contact.title'|trans }}</h1>
            <span>{{ 'contact.description'|trans }}</span>
        </div>
        <div class="container no-margin-top special">
        </div>
    </div>
{% endblock %}