{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container no-margin-top">
            <div class="col-lg-2 pull-left">
            </div>
            
            <div class="col-lg-10">
                <h3 class="page-title col-lg-12 no-padding">
                    {{ 'title.notifications'|trans }}
                </h3>
                {% for notification in notifications %}
                    {% include "DuedinoiWebBundle:Component\\Notification:notification.html.twig" %}
                {% endfor %}
                {{ knp_pagination_render(notifications) }}
            </div>
        </div>
    </div>
{% endblock %}