{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block content %}
    {% include 'DuedinoiWebBundle:Component:header.html.twig' %}
    {% include "DuedinoiWebBundle:Component:top_menu.html.twig" %}
    <div class="container-fluid egg-green">
        <div class="container no-margin-top">
            <div class="col-lg-12">
                <h3 class="page-title col-lg-12 no-padding">
                    {{ 'title.active_users'|trans }}
                </h3>
                {% render(controller('CunningsoftChatBundle:Chat:show', {channel: userslug})) %}
            </div>
        </div>
    </div>
{% endblock %}