{% extends "DuedinoiWebBundle::layout.html.twig" %}

{% block body_class %}landing-page{% endblock %}
{% block content %}
<div class="background-page">
    <img class="bg" src="/bundles/scpaweb/images/landing.jpg"/>
    <div class="header-bg">
        <div class="top"></div>
    </div>
    <div class="menu-wrap">
        <div id="header"  class="not-logged" >

            <h1 id="logo" class="">
                <a href="/">
                    <img class="big-logo" src="/bundles/scpaweb/images/logo.png" alt="Schoolparents" />
                    <img class="small-logo" src="/bundles/scpaweb/images/sm-logo.png" width="41" height="33" alt="Schoolparents" />
                </a>
            </h1>
            <ul id="nav">
                <li class="active"><a href="/login">LOGIN</a></li>
                <li><a href="/schools">SCHOOLS</a></li>
                <li><a href="/privacy">PRIVACY</a></li>
                <li><a href="/about-us">ABOUT</a></li>
            </ul>
        </div><!-- ends header -->            </div>
    <div id="page" class="clearfix">
        <div class="intro-wrap">
            <div id="intro">
                <h3 style="font-size:41px;font-weight:bold;">The school gate meeting point online</h3>

                <ul>
                    <li>Childcare</li>
                    <li>Primary School</li>
                    <li>High School</li>
                </ul>
            </div>
            <a id="homepage-video" href="https://youtu.be/haa82xDis9Q"
               type="text/html"
               data-youtube="hdQLI1BjUvo"
               data-poster=""
               data-gallery="" class="">
                <img src="/bundles/scpaweb/images/homepage-video.png" width="518" height="206">
            </a>
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>            </div>
        <div id="content" class="sign-up clearfix">
            <div class="c-header">
                <h3>Sign Up</h3>
            </div>

            <form id="form-sign-up" class="c-main" autocomplete="off" action="/"
                  method="post"  novalidate>
                <fieldset>


                    <div class="form-row clearfix">
                        <div class="input-wrapper">
                            <label class="label-hide required" for="fos_user_registration_form_first_name">First name</label>
                            <input type="text" id="fos_user_registration_form_first_name" name="fos_user_registration_form[first_name]" required="required" class="label-over text" />
                        </div>
                        <div class="input-wrapper clearfix">
                            <label class="label-hide required" for="fos_user_registration_form_last_name">Last name</label>
                            <input type="text" id="fos_user_registration_form_last_name" name="fos_user_registration_form[last_name]" required="required" class="label-over text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label class="label-hide required" for="fos_user_registration_form_email"> Your Email Address</label>
                        <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="label-over text" />
                    </div>
                    <div class="form-row">
                        <label class="label-hide required" for="fos_user_registration_form_email_repeat">Re-Enter Your Email Address</label>
                        <input type="email" id="fos_user_registration_form_email_repeat" name="fos_user_registration_form[email_repeat]" required="required" class="label-over text" />
                    </div>
                    <div class="form-row password">
                        <label class="label-hide required" for="fos_user_registration_form_password">Choose a Password</label>
                        <input type="password" id="fos_user_registration_form_password" name="fos_user_registration_form[password]" required="required" class="label-over text" />
                        <span class="password-state"></span>
                    </div>
                    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="ff24387a28d095a3f430e63541b963701c782e9d" />
                    <div class="form-row find-out">
                        <p>
                        </p>
                    </div>
                    <div class="well one-line">
                        By signing up you agree to our <a href="/terms-and-conditions" target="_blank">Terms</a> & <a
                                href="/privacy-policy" target="_blank">Privacy Policy</a>
                    </div>
                    <button class="btn green big" type="submit">SIGN UP</button>
                </fieldset>
            </form>
            <div id="alert-psw-strength" save-url="" aria-hidden="true" class="modal fade "
                 aria-labelledby="myModalLabel" modal-unique-id="a5e2f371af700b45c555e26a2d51ba8a2448681a"
                 ignore-modal-restriction="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p style="font-size: 14px;font-weight: 500;margin: 0 0 -5px;color: #747b83;">
                                The password you have entered is simple and could be easily guessed. We recommend including at least 1
                                number and 1 uppercase letter in your password.
                            </p>

                        </div>
                        <div class="modal-footer">
                            <button class="btn green change"
                                    style="padding-left: 10px;padding-right: 10px;height: 34px;line-height: 34px;font-size: 13px;margin-right: 2px;">
                                Change Password
                            </button>
                            <button class="btn grey keep" style="padding-left: 10px;padding-right: 10px;font-size: 13px;">Keep
                                Password
                            </button>

                        </div>
                    </div>
                </div>
            </div>            </div>
        <!--ends content -->

    </div>
    <!-- ends page -->
</div>
<!-- ends page -->

<div class="top"></div>
<div class="f-wrap">
    <div class="f-desc-wrap">
        <ul>
            <li>
                <img src="/bundles/scpaweb/images/social-networkx2.png" alt=""/>
                <h3 class="network">Find parents at your child&#39;s school</h3>

                <p>Easily introduce yourself to the parents of your child&#39;s friends</p>
            </li>
            <li>
                <img src="/bundles/scpaweb/images/socializex2.png" alt=""/>
                <h3 class="share">Share advice &amp; recommendations</h3>

                <p>Ask about a great babysitter, suggest a tutor or trusted GP</p>
            </li>
            <li>
                <img src="/bundles/scpaweb/images/invitesx2.png" alt=""/>
                <h3 class="party">Buy &amp; sell pre-loved kids items</h3>

                <p>Free to list! Sell within your school and local area.</p>
            </li>
        </ul>
    </div>
    <div id="footer">
        <p class="copy">&copy; 2015 Schoolparents. All rights reserved.</p>
        <ul>
            <li><a href="/about-us">About</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/help-and-feedback">Help</a></li>
            <li><a href="/terms-and-conditions">Terms</a></li>
            <li><a href="/privacy-policy">Privacy</a></li>
            <li><a href="/contact-us">Contact</a></li>
        </ul>
    </div>
{% endblock %}