{% extends 'IogAdminBundle::layout.html.twig' %}

{% block content %}
    <h1>Setting creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('setting') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
