{% extends 'DuedinoiAdminBundle::layout.html.twig' %}

{% block content %}
<div class="wrapper">
    <div class="panel panel-default panel-block">
        <div class="list-group">
            <div id="input-fields-horizontal" class="list-group-item">
                <h4 class="section-title">Create new User</h4>
                {% include "DuedinoiUserBundle:User:new_user_form.html.twig" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
