{% extends "DuedinoiWebBundle:Component\\Notification:base.html.twig" %}
{% block notification_content %}
    <a href="{{ path('duedinoi_user_profile', {userslug: notification.fromUser.slug}) }}" class="orange-text">{{ notification.toUser }}</a> {{ 'notification.like_profile'|trans }}
{% endblock %}